<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BDSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:57780/BD.asmx" binding="basicHttpBinding"
                bindingConfiguration="BDSoap" contract="WScarga.BDSoap" name="BDSoap" />
        </client>
    </system.serviceModel>
</configuration>